<a href="https://colab.research.google.com/github/nanipumpkin/Analise_Estatistica/blob/main/Aula_01_Tipos_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Aula 1 - Noções Básicas

## Comunique-se com seu computador

In [ ]:
# Diga olá para sua máquina e ela responderá
print('Olá!')

Olá!

## TIPOS DE DADOS
### Dados Numéricos (quantitativos)

In [ ]:
# Dados Numéricos Discretos (valores integrais - INT)
x = 5

In [ ]:
print(x)

5

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
# Dados Numéricos Contínuos (valores flutuantes, razão - FLOAT)
preco = 19.99

In [ ]:
print(preco, type(preco))

19.99 <class 'float'>

### Dados Categóricos (qualitativos)

In [ ]:
# Dados Categóricos Nominais (valores textuais, string - STR)
cidade = "Porto Alegre"
print(cidade, type(cidade))

Porto Alegre <class 'str'>

In [ ]:
cidade = 'Porto Alegre'
print(cidade, type(cidade))

Porto Alegre <class 'str'>

In [ ]:
# Dados Categóricos Ordinais (valores de ordenação - BOOL, ENUM*)
disponivel = True
print(disponivel)

True

In [ ]:
disponivel = False
print(disponivel, type(disponivel))

False <class 'bool'>

## OPERADORES

In [ ]:
# Dados numéricos inteiros
x = 50
y = 2

In [ ]:
#Operadores Aritméticos

## Adição
print(x + y)

## Subtração
print(x - y)

## Multiplicação
print(x * y)

## Divisão
print(x / y)

52
48
100
25.0

In [ ]:
# Potenciação
print(x ** y)

# Divisão inteira
print(x // y)

# Resto da divisão
print(x % y)

2500
25
0

In [ ]:
# Divisão inteira
print(3 // 4)

0

In [ ]:
# Dados categóricos
tem_cafe = True
tem_pao = False

In [ ]:
# Operadores Lógicos

# Altera ou inverte o valor lógico da expressão
print(not tem_cafe)

# Resulta verdadeiro se pelo menos uma das expressões for verdadeira
print(tem_cafe or tem_pao)

# Resulta verdadeiro apenas se ambas expressões forem verdadeiras
print(tem_cafe and tem_pao)

False
True
False

In [ ]:
# Dados numéricos
dolar = 5.3
real = 1

In [ ]:
# Operadores relacionais

# Maior que
print(dolar > real)

# Menor que
print(dolar < real)

# Igual a
print(dolar == real)

# Maior ou igual
print(dolar >= real)

# Menor ou igual
print(dolar <= real)

# Diferente de
print(dolar != real)

True
False
False
True
False
True

In [ ]:
# Exemplo de algoritmo - estruturas sequenciais
salario_mensal = input('Digite o valor do seu salario mensal: ')
salario_mensal = float(salario_mensal)

gasto_mensal = input('Digite o valor do seu gasto mensal médio: ')
gasto_mensal = float(gasto_mensal)

salario_total = salario_mensal * 12
gasto_total = gasto_mensal * 12

montante_economizado = salario_total - gasto_total
print('O montante que voce pode economizar ao fim do ano é de: ', montante_economizado)

Digite o valor do seu salario mensal: 100
Digite o valor do seu gasto mensal médio: 99.5
O montante que voce pode economizar ao fim do ano é de:  6.0